/* Set the gradient background to text only */
h1 {
    background-image: linear-gradient(to right, #00183f, #0077cc, #43c3ff);
    font-size: 40px;
    font-weight: bold;
    background-color: #0077cc;
    background-size: 100%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

/* Set the background to black and text color to white for the body */
body {
    background-color: #fff;
    color: #000;
    text-align: center; /* Center-align text */
    font-family: 'Poppins';
}

.generated-cover {
    width: 650px;
    text-align: left;
}


textarea {
    background-color: #fff; /* Black background */
    color: #000; /* White text */
    width: 500px; 
    height: 80px;
    padding: 10px;
    font-size: 15px;
}

/* Style the text inside the textareas to be white */
textarea {
    background-color: #fff; /* Black background */
    color: #000; /* White text */
}

/* Center-align elements with the "flex" class */
.flex {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center-align children horizontally */
    padding: 10px;
}

/* Add styles for the "Generate Email" button */
.generate-button {
    background-color: #000; /* White background */
    color: #fff; /* Black text */
    border: none;
    border-radius: 5px; /* Rounded corners */
    padding: 10px 15px; /* Padding inside the button */
    cursor: pointer; /* Change cursor to a hand on hover */
    margin-top: 20px;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition on hover */
}

/* Style the button on hover with gradient background and white text */
.generate-button:hover {
    background-image: linear-gradient(to right, #00183f, #0077cc, #43c3ff);
    color: #fff; /* Text color on hover */
}


/* Add styles for the "Generate Email" button */
.copy-button {
    background-color: #000; /* White background */
    color: #fff; /* Black text */
    border: none;
    border-radius: 5px; /* Rounded corners */
    padding: 10px 15px; /* Padding inside the button */
    cursor: pointer; /* Change cursor to a hand on hover */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition on hover */
}

/* Style the button on hover with gradient background and white text */
.copy-button:hover {
    background-image: linear-gradient(to right, #00183f, #0077cc, #43c3ff);
    color: #fff; /* Text color on hover */
}

#particles-container {
    position: fixed; /* Set the particles container position to fixed */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* Set a lower z-index for the particles to be in the background */
}

/* Center-align elements with the "form-content" class */
.form-content {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center-align children horizontally */
    padding: 10px;
    position: relative; /* Set the container position to relative */
    z-index: 2; /* Set a z-index for the container to overlay particles */
}

.description {
    width: 750px;
}

a {
    font-size:14px;
    margin-top: 20px;
    margin-bottom: 10px;
    color:#0077cc;
    text-decoration: none;
}

a:hover {
    font-size:14px;
    margin-top: 20px;
    margin-bottom: 10px;
    color:#000;
    text-decoration: none;
}

.logo {
    width: 300px;
}


